*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Plain Light";
}

html,body{
    width:100%;
    height: 100%;
}

.main{
    position: relative;
    
}

#page1{
    width: 100vw;
    height: 100vh;
    /* background-color: crimson; */
}

#nav{
    width: 100%;
    height: 6vw;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}


#nav img{
    width: 10%;
    height: 100%;
    object-fit: cover;
}

#nav-part1{
    width: 32%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
#nav-part1 h4{
    font-size: .9vw;
    font-weight:bold;
}

#nav-part1 h3{
    display: none;
}


#nav-part2 h3{
    display: none;
}


#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
}
#nav-part2 input{
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    color: transparent;
    color: black;
    background-color: #fff;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

button{
    padding: .8vw 1.5vw;
    border-radius: 3vw;
    background-color: black;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

#btn{
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    font-weight:bold;
}



/* Center. */

#center{
    width: 100%;
    height: fit-content;
    /* background-color: crimson; */
    position: relative;
    padding: 5vw 0;
    overflow: hidden;

}
#center h3{
    margin-left: auto;
    margin-right: auto;
    background-color: plum;
    width: fit-content;
    border-radius: 2vw;
    font-size: 1vw;
    padding: 1vw;
}


#center h1{
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    /* background-color: yellow; */
    width: fit-content;
    border-radius: 2vw;
}


#center h5{
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    /* background-color: rgba(255, 255, 0, 0.697); */
    width: fit-content;
    padding: .4vw;
}

#center>button{
    margin-top: 3vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border-radius: 2vw;
    border: none;
}


/* Bottom. */

#bottom{
    width: fit-content;
    height:fit-content ;
    margin-top: 2vw;
    /* background-color:greenyellow; */
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-wrap: nowrap;
    padding: 1vw 2vw;
    animation-name: anime;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}


.elem{
    flex-shrink: 0;
    border-radius: 2vw;
    width: 18vw;
    height: 20vw;
    /* background-color: blue; */
    overflow: hidden;
    border: 2px solid black;
}


.elem video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



@keyframes anime {
    100%{
        transform: translateX(0%);
    }

    0%{
        transform: translateX(-100%);
    }
}





/* Page-2. */

#page2{
    width: 100vw;
    height: fit-content;
    /* background-color: red; */
    position: relative;
    margin: 5vw 0;
    padding: 5vw 0;
    /* overflow: hidden; */
}

#page2 h1{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2vw;
}


.container button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
}

.container{
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    padding: 2vw 3vw;
}

.cont{
    width: 20vw;
    height: 20vw;
    display: inline-block;
    margin-right: 3vw;
    margin-bottom: 4vw;
    border-radius: 2vw;
    position: relative;
    /* overflow: hidden; */
}

.cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#name{
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.211);
    /* color: transparent; */
    position: absolute;
    display: flex;
    bottom: 5%;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    opacity: 0;
    
}
#name h4{
    color: white;
}

#name i{
    background-color: white;
    border-radius: 50%;
    padding: .5vw;
    color: black;
}


.cont:hover #name{
    opacity: 1;
    transition: all linear .5s;

}



/* Page-3. */

#page3{
    width: 100vw;
    height: fit-content;
    /* background-color: lightblue; */
    position: relative;
    padding: 5vw 0;
}

.page3-cont{
    width: 100%;
    height: 100%;
    background-color: #FFD979;
    position: relative;
    text-align: center;
    padding: 8vw;
}

.page3-cont h1{
    font-size: 5vw;
    font-weight: 100;
    letter-spacing: .1vw;
    line-height: 1;
    margin-bottom: 2vw;
}

.page3-cont h5{
    font-size: 1.5vw;
    font-weight: 100;
    margin-bottom: 1vw;
}

#page3 button{
    margin-top: 2vw;
    padding: 1.5vw 2vw;
    margin-bottom: 4vw;
    border: none;
}

#bt{
    background-color: #fff;
    color: black;
    margin-left: 1vw;
    border: none;
}

.page3-cont h6{
    font-size: 1.5vw;
    font-weight: 100;
}



/* Page4. */

#page4{
    width: 100vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
    /* background-color: lightblue; */
}

#page4-container{
    width: fit-content;
    height: 50%;
    /* background-color: red; */
    padding: 5vw;
    white-space: nowrap;
    animation-name: anime;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    /* overflow: hidden; */
}

#page4-cont{
    width: 17vw;
    height: 13vw;
    /* background-color: blue; */
    display: inline-block;
    border-radius: 2vw;
    margin-right: 2vw;
}


#page4-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#head{
    /* background-color: red; */
    position: absolute;
    bottom: 13%;
}



/* Page-5. */

#page5{
    width: 100vw;
    height: fit-content;
    /* background-color: lightblue; */
}

#page5-container{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page5-container img{
    width: 10%;
    height: 20%;
}

#cont{
    width: 60%;
    /* background-color: red; */
    display: flex;
    gap: 1.5vw;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

#social{
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw ;
    cursor: pointer;
    
}

#social i{
    font-size: 1.5vw;
}




/* Page-6. */

#page6{
    width: 100vw;
    height: fit-content;
    /* background-color: lightcoral; */
}

#page6-container{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    opacity: .4;
    font-size: 1vw;
}

#page6-cont{
    width: 40%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 2vw;
}


#page6-cont2{
    width: 40%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}







/* RESPONSIVE. */

@media (max-width:600px) {
    #page1{
        width: 100vw;
        height: fit-content;
        /* background-color: crimson; */
        padding: 5vw 0;
    }
    
    #nav{
        justify-content: space-around;
    }
    
    #nav img{
        width: 30%;
    }
    
    #nav-part1{
        width: 10%;
        height: 100%;
    }

    #nav-part1 h3{
        display: block;
    }

    #nav-part1 h4{
        display: none;
    }
    
    #nav-part2{
        width: 40%;
        height: 100%;
        /* background-color: red; */
        gap: 10vw;
    }


    #nav-part2 h3{
        display: block;
    }

    #nav-part2 input{
        display: none;
    }
    
    button{
        padding: 2vw 4vw;
    }
    
    #btn{
        display: none;
    }
    
    
    
    /* Center. */
    
    #center{
        width: 100%;
        height: fit-content;
        /* background-color: crimson; */
        position: relative;
        padding: 10vw 0;
        overflow: hidden;
    }

    #center h3{
        border-radius: 5vw;
        font-size: 5vw;
        padding: 2vw;
    }
    
    
    #center h1{
        margin-top: 5vw;
        font-size: 15vw;
    }
    
    
    #center h5{
        margin-top: 5vw;
        font-size: 5vw;
        font-weight: 700;
    }
    
    #center>button{
        margin-top: 7vw;
        border-radius: 7vw;
        padding: 5vw;
    }
    
    
    /* Bottom. */
    
    #bottom{
        margin-top: 5vw;
        gap: 5vw;
    }
    
    
    .elem{
        border-radius: 7vw;
        width: 60vw;
        height: 80vw;
        /* background-color: blue; */
        overflow: hidden;
        border: 0px solid rgba(0, 0, 0, 0.001);
    }
    





    #page2{
        width: 100vw;
        height: fit-content;
        /* background-color: red; */
        position: relative;
        padding: 0vw 0;
        /* overflow: hidden; */
    }

    #page2 h1{
        text-align: center;
        font-size: 10vw;
        margin-bottom: 5vw;
    }

    .container{
        width: 100%;
        /* height: fit-content; */
        /* background-color: blue; */
        /* white-space: nowrap; */
        padding: 2vw 5vw;
    }

    .cont{
        width:90vw;
        height: 60vw;
        display: block;
        margin-right: 0vw;
        margin-bottom: 7vw;
        border-radius: 5vw;
        position: relative;
        overflow: hidden;
    }





        
    #page3{
        width: 100vw;
        height: fit-content;
        /* background-color: lightblue; */
        position: relative;
        padding: 10vw 0;
    }

    .page3-cont{
        width: 100%;
        height: 100%;
        background-color: #FFD979;
        position: relative;
        text-align: center;
        padding: 8vw;
    }

    .page3-cont h1{
        font-size: 10vw;
        font-weight: 100;
        letter-spacing: .1vw;
        line-height: 1;
        margin-bottom: 5vw;
    }

    .page3-cont h5{
        font-size: 5vw;
        font-weight: 100;
        margin-bottom: 2vw;
    }

    #page3 button{
        margin-top: 7vw;
        display: block;
        padding: 3vw 4vw;
        border-radius: 5vw;
        margin-bottom: 7vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #bt{
        background-color: #fff;
        color: black;
        margin-left: 0vw;
        border: none;
        padding: 3vw 4vw;
        border-radius: 5vw;
    }

    .page3-cont h6{
        font-size: 5vw;
        font-weight: 100;
    }






    #page4{
        width: 100vw;
        height: fit-content;
        position: relative;
        overflow: hidden;
        /* background-color: lightblue; */
    }

    #page4-container{
        width: fit-content;
        height: fit-content;
        /* background-color: red; */
    }

    #page4-cont{
        width: 50vw;
        height: 40vw;
        border-radius: 5vw;
        margin-right: 5vw;
        overflow: hidden;
    }

    #head{
        position: absolute;
        bottom: -2%;
    }



    



    #page5{
        width: 100vw;
        height: fit-content;
        /* background-color: lightblue; */
    }

    #page5-container{
        flex-direction: column;
    }

    #page5-container img{
        width: 30%;
        height: 20%;
    }

    #cont{
        width: 100%;
        gap: 4vw;
        flex-wrap: wrap;
        justify-content: center;

    }

    #social{
        gap:3vw ;
        margin-top: 2vw;
        
    }

    #social i{
        font-size: 5vw;
    }

    




    #page6{
        width: 100vw;
        height: fit-content;
        margin-top: 10vw;
        margin-bottom: 2vw;
    }
    
    #page6-container{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        padding: 2vw 5vw;
        opacity: .4;
        font-size: 3.5vw;
    }
    
    #page6-cont{
        width: 100%;

        justify-content: center;
        gap: 5vw;
    }
    
    #page6-cont2{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vw;
        margin-top: 5vw;
    }

}